.filter-wrapper {
  background: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 64px;
  box-shadow: 0 4px 2px -2px #d0d0d0;
}
.example-card {
  max-width: 280px;
}

.example-header-image {
  background-size: cover;
}
.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 150px;
}

button {
  cursor: pointer;
  background-color: lightgray;
}

button.selected {
  background-color: #5b57d9;
  color: #ffffff;
}
img {
  max-width: 270px;
}
::ng-deep .filter-wrapper .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
