/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
/* html,
body {
  height: auto;
} */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  font-size: 62.5%;
}
/* .mat-typography {
  background-color: aqua;
  height: auto !important;
} */
